<html lang="en">
<head>
    <title>Initial Setup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <form action="/bookings/create" method="post">
        <p>
            Start Date:<br>
            Month: <input type="text" name="month" id="">
            Day: <input type="text" name="day" id="">
            Year: <input type="text" name="year" id="">
            <br><br>
            Password:<input type="text" name="password" id="">
        </p>
        <button type="submit">Submit</button>
        <p> Click submit to initialize db with dates</p>
    </form>
</div>
</body>
</html>