body {
    background-color: rgb(36, 59, 109);
}
.container {
    background-color: blanchedalmond;
    padding: 50px;
}


.btn-red {
    background-color: darkred;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100px;
}

.btn-green {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100px;
}
